@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


html{
  scroll-behavior: smooth;
}


body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
  }
  
#home-texto h2 {
    font-weight: 400;
    font-size: 1.2rem;
    height: 20vh;
    text-transform: capitalize;
    margin: 0;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}

.home{
  width: 100%;
	height: 882px;
	background: url("https://source.unsplash.com/q10VITrVYUM") no-repeat center;
	background-size: cover;
	margin-top: 92px;
	text-align: center;
	padding-top: 80px;

}



.btn {
    padding: 0.5rem 2rem;
    border: 1px solid #533d09;
    padding: 10px 30px;
    color: #533d09;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    transition: background 300ms ease;
    margin-bottom: 20px;
}

.btn:hover {
  background: #f4f4f4;
}


.produtos {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.produtos td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 9px;
}
.produtos tr {
      color: #0e0101;
    background-color: #FFFFFF;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header h2 {
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}


#form_produto {
  margin-top: 20px;
  margin-left: 15px;
  
}

.cadastro_form {
	padding-right: 60px;
	text-align: left;
}

.cadastro_form label{
	display: block;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 4px;
}

.cadastro_form input {
	display: block;
	width: 100%;
	border: 4px solid #533d09;
	background: none;
	padding: 7px 10px;
	margin-bottom: 10px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
}

.cadastro_form textarea {
	display: block;
	width: 100%;
	height: 120px;
	border: 4px solid #533d09;
	background: none;
	padding: 7px 10px;
	margin-bottom: 20px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
}

.cadastro_form button {
	padding: 7px 40px;
	background: none;
}

#header_1 {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header_1 h2 {
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

#produzir{
  width: 100%;
	height: 882px;
	background: url("https://source.unsplash.com/MvNfMRw3I5k") no-repeat center;
	background-size: cover;
	text-align: center;
}

#produzir h1{
  height: 25vh;
  margin-top: 20px;
}

#venda{
  width: 100%;
	height: 882px;
	background: url("https://source.unsplash.com/MvNfMRw3I5k") no-repeat center;
	background-size: cover;
	text-align: center;
}

#venda h1{
  height: 40vh;
  margin-top: 20px;

}

.producao{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 10%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  

}

#produzir .btn_2{
  margin-right: 30px;
  border:1px solid #533d09;
}

.btn_3{
  padding: 0.5rem 2rem;
  border: 1px solid #533d09;
  padding: 10px 30px;
  color: #533d09;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  transition: background 300ms ease;
  text-align: center;
}

.btn_3:hover {
  background: #f4f4f4;
}
.producao td, th {
  
  text-align: center;
  padding: 9px;
  
}

.producao tr {
  color: #0e0101;
background-color: #FFFFFF;
width: 10%;
}


.btn_2{
    padding: 0.5rem 2rem;
    border: 1px solid #533d09;
    padding: 10px 30px;
    color: #533d09;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    transition: background 300ms ease;
}

.btn_2:hover {
  background: #f4f4f4;
}


#relatorio{
  width: 100%;
	height: 882px;
	background: url("https://source.unsplash.com/nI--XptpMa8") no-repeat center;
	background-size: cover;
	text-align: center;

}

#relatorio h1{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 45px;
}

.mais-vendidos {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 28%;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.mais-vendidos td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 9px;
}
.mais-vendidos tr {
      color: #0e0101;
    background-color: #FFFFFF;
}




/* Screen Sizes 500px and Up */
@media (min-width: 500px) {
  #home {
    display: flex;
    height: 100%;
  }

  #home-texto {
    height: 100vh;
  }

  #home-imagem {
    height: 100vh;
  }
}

/* Screen Sizes 700px and Up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }

  .btn_2{
    padding: 1rem 3rem;
  }
  .btn_3{
    padding: 1rem 3rem;
  }
}

.container-report{
  background-color: #eee;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  border: 2px solid black;
  padding: 30px;
}

.feedstock-cell{
  margin: 2px;
  width: 500px;
  min-height: 20px;
  border: 2px solid black;
}

.feedstock-cell tr{
  margin: 2px;
  width: 170px;
  text-align: left;
}

.feedstock-cell tr td{
  margin: 2px;
  width: 50px;
  text-align: center;
}

.container-venda{
  margin: 20px;
  max-width: 450px;
  min-height: 20px;
  border: 2px solid black;
  padding: 2px;
}

.venda-cell{
  margin: 2px;
  width: 500px;
  min-height: 20px;
  border: 2px solid black;
}

.venda-cell tr{
  margin: 2px;
  width: 170px;
  text-align: left;
}

.venda-cell tr td{
  margin: 2px;
  width: 50px;
  text-align: center;
}
